<h1 class="text-center my-5">Bienvenido al Mercado WEB, seleccione sus productos</h1>

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-3">
        {{> producto}}        
    </div>
</div>